@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 200;
  src: local('Yanone Kaffeesatz ExtraLight'), local('YanoneKaffeesatz-ExtraLight'), url(https://themes.googleusercontent.com/licensed/font?kit=We_iSDqttE3etzfdfhuPRU8pKidJIvZs7w0YLAc8PbhriFIqgZ37jon2HHHrVZ7JJN2ZeTFt75TpF-UsRld25Q) format('woff');
}
