@font-face {
  font-family: 'Marcellus SC';
  font-style: normal;
  font-weight: 400;
  src: local('Marcellus SC'), local('MarcellusSC-Regular'), url(https://themes.googleusercontent.com/static/fonts/marcellussc/v1/_jugwxhkkynrvsfrxVx8gXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
